$text-color: #000000;
$button-backround-color: #E86F54;
$mobile-menu-background: #E86F54;
$regular-background-color: #FFFFFF;
$footer-text-color: #FFFFFF;
$footer-background-color: #000000;
$modal-text-color: #5C5C5C;
$text-hover-onblack: #E86F54;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);