.about{
    padding-top: 100px;
    padding-bottom: 60px;
}
.about__title{
    color: black;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
}
.about__text{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    padding: 32px 16px 16px 16px;
    

}
.about__line{
    width: 183px;
    background-color: black;
    height: 1px;
    margin-top: 34px;
    margin-left: 14px;
    
}
.about__div-line{
    display: flex;
}
.about__img{
    max-width: 288px;
}

