<section class="blog">
  <div class="container">
    <h2 class="blog__title">BLOG</h2>
    <ul class="blog__list">
      <li class="blog__card">
        <div class="blog__wrap">
          <picture>
            <source srcset="./images/mobile/mobile-slider-img-one-1x.png 1x, ./images/mobile/mobile-slider-img-one-2x.png 2x" media="(max-width: 767px)">
            <source srcset="./images/tablet/tablet-slider-img-one-1x.png 1x, ./images/tablet/tablet-slider-img-one-2x.png 2x" media="(max-width: 1199px)">
            <source srcset="./images/desktop/desktop-slider-img-one-1x.png 1x, ./images/desktop/desktop-slider-img-one-2x.png 2x" media="(max-width: 1600px)">
            <img src="./images/desktop/desktop-slider-img-one-1x.png" alt="logo">
        </picture>
        </div>
      </li>
      <li class="blog__card">
        <div class="blog__wrap">
          <picture>
            <source srcset="./images/mobile/mobile-slider-img-two-1x.png 1x, ./images/mobile/mobile-slider-img-two-2x.png 2x" media="(max-width: 767px)">
            <source srcset="./images/tablet/tablet-slider-img-two-1x.png 1x, ./images/tablet/tablet-slider-img-two-2x.png 2x" media="(max-width: 1199px)">
            <source srcset="./images/desktop/desktop-slider-img-two-1x.png 1x, ./images/desktop/desktop-slider-img-two-2x.png 2x" media="(max-width: 1600px)">
            <img src="./images/desktop/desktop-slider-img-two-1x.png" alt="logo">
        </picture>
        </div>
      </li>

      <li class="blog__card">
        <div class="blog__wrap">
          <picture>
            <source srcset="./images/mobile/mobile-slider-img-three-1x.png 1x, ./images/mobile/mobile-slider-img-three-2x.png 2x" media="(max-width: 767px)">
            <source srcset="./images/tablet/tablet-slider-img-three-1x.png 1x, ./images/tablet/tablet-slider-img-three-2x.png 2x" media="(max-width: 1199px)">
            <source srcset="./images/desktop/desktop-slider-img-three-1x.png 1x, ./images/desktop/desktop-slider-img-three-2x.png 2x" media="(max-width: 1600px)">
            <img src="./images/desktop/desktop-slider-img-three-1x.png" alt="logo">
        </picture>
        </div>
      </li>
    </ul>
    <p class="blog__text">Follow to our newsletter</p>
    <button class="blog__button">Subscribe</button>
  </div>
</section>
