<section class="blog">
    <div class="container">
        <h2 class="blog__title"> 
            BLOG
        </h2> 
        <ul class="blog__list"> 
            <li class="blog__card"> 
              <div class="blog__wrap"> 
                <!-- <picture> -->
                        <!-- <source srcset="./images/desktop/desktop-slider-img-one-1x.webp 1x, ./images/desktop/desktop-slider-img-one-2x.webp 2x" type="image/webp"> -->
                        <!-- <source srcset="./images/tablet/tablet-slider-img-one-1x.webp 1x, ./images/tablet/tablet-slider-img-one-2x.webp 2x" type="image/webp"> -->
                        <!-- <source srcset="./images/mobile/mobile-slider-img-one-1x.webp 1x, ./images/mobile/mobile-slider-img-one-2x.webp 2x" type="image/webp"> -->
                        <!-- <img src="./images/desktop/desktop-slider-img-one-1x.webp" alt="picture"> -->
                    <!-- </picture> -->
                
              
                
              </div>
            </li>
              <li class="blog__card"> 
                <div class="blog__wrap"> 
                  <!-- <img class="blog__img" src="./images/desktop/desktop-slider-img-two-1x.webp" alt="команда" />  -->
                  
                </div>
                </li>
            
            <li class="blog__card"> 
              <div class="blog__wrap"> 
                <!-- <img class="blog__img" src="./images/desktop/desktop-slider-img-three-1x.webp" alt="команда" />  -->
                
              </div>
            </li>
        </ul>
        <p class="blog__text"> 
            Follow to our newsletter
        </p> 
      <button class="blog__button">Subscribe</button> 

        
    </div>
</section>
