<footer class="footer">
    <ul class="footer__positioning">
        <li class="footer__positioning-item">
            <a class="footer__logo" href="index.html"><img src="./images/desktop/logo.webp" alt="logo"></a>
        </li>
        <li class="footer__positioning-item">
            <h2 class="footer__positioning-title">Navigation</h2>
            <ul class="footer__sub-list">
                <li class="footer__sub-item">
                    <a href="" class="footer__sub-text">Anemone</a>
                </li>
                <li class="footer__sub-item">
                    <a href="" class="footer__sub-text">About us</a>
                </li>
                <li class="footer__sub-item">
                    <a href="" class="footer__sub-text">Store</a>
                </li>
                <li class="footer__sub-item">
                    <a href="" class="footer__sub-text">Delivery</a>
                </li>
            </ul>
        </li>
        <li class="footer__positioning-item">
            <h2 class="footer__positioning-title">Opening times</h2>
            <ul class="footer__sub-list">
                <li class="footer__sub-item">
                    <a href="" class="footer__sub-text">Every day <br>9:00 - 22:00</a>
                </li>
            </ul>
        </li>
        <li class="footer__positioning-item">
            <h2 class="footer__positioning-title">Contacts</h2>
            <ul class="footer__sub-list">
                <li class="footer__sub-item">
                    <a href="tel:+380631234567" class="footer__sub-text">+38 063 123 45 67</a>
                </li>
                <li class="footer__sub-item">
                    <a href="mailto:anemonestudio@example.com" class="footer__sub-text">anemonestudio@example.com</a>
                </li>
                <li class="footer__sub-item">
                    <a href="https://maps.app.goo.gl/i24rjFoBEdtEyARo7" class="footer__sub-text">Reitarska Street, 11 <br>Kyiv, Ukraine</a>
                </li>
            </ul>
        </li>
        <li class="footer__positioning-item">
            <svg class="footer__social-icon">
                <use></use>
            </svg>
            <svg class="footer__social-icon">
                <use></use>
            </svg>
        </li>
    </ul>
</footer>