<header class="header">
    <div class="container">
        <div class="header__nav-wrap">
            <div class="header__logo-wrap">
                <a href="./index.html" class="header__logo-link">
                    <picture>
                        <source srcset="./images/mobile/mobile-header-logo.png 1x, ./images/mobile/mobile-header-logo@2x.png 2x" media="(max-width: 767px)">
                        <source srcset="./images/desktop/desktop-header-logo.png 1x, ./images/desktop/desktop-header-logo@2x.png 2x" media="(max-width: 1600px)">
                        <img src="./images/desktop/desktop-header-logo.png" alt="logo">
                    </picture>              
                </a>
            </div>

            <nav>
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="./index.html" class="header__nav-link">Anemone</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/about.html" class="header__nav-link">About us</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/store.html" class="header__nav-link">Store</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/delivery.html" class="header__nav-link">Delivery</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/blog.html" class="header__nav-link">Blog</a>
                    </li>
                </ul>
            </nav>

            <div class="header__contacts-box">
                <div>                    
                    <button data-modal-open class="header__modal-btn" type="button">
                        <svg class="header__modal-open-icon">
                            <use  href="./images/svg/symbol-defs.svg#icon-tel"></use>
                        </svg>
                    </button>
                </div>
                

                <div class="header__contacts-item">
                    <input class="mobile__menu-input" type="checkbox" id="toggle">
                    <label class="mobile__menu-btn" for="toggle">
                        <span class="mobile__menu-btn-icon"></span>
                    </label>
                    <ul class="mobile__menu-nav">
                        <li class="mobile__menu-nav-item"><a href="./index.html" class="mobile__menu-nav-link">Anemone</a></li>
                        <li class="mobile__menu-nav-item"><a href="./partials/about.html" class="mobile__menu-nav-link">About us</a></li>
                        <li class="mobile__menu-nav-item"><a href="./partials/store.html" class="mobile__menu-nav-link">Store</a></li>
                        <li class="mobile__menu-nav-item"><a href="./partials/delivery.html" class="mobile__menu-nav-link">Delivery</a></li>
                        <li class="mobile__menu-nav-item"><a href="./partials/blog.html" class="mobile__menu-nav-link">Blog</a></li>
                    </ul>
                    </div>
                
            </div>
        </div>
        <div class="header__main-wrap">
            <div class="header__main-box">
            <h2 class="header__main-name">
                flower <br>
                studio
            </h2>

            <picture class="header__main-img">
                <source srcset="./images/mobile/mobile-header-background-1x.png 1x, ./images/mobile/mobile-header-background-2x.png 2x" media="(max-width: 767px)">
                <source srcset="./images/tablet/tablet-header-background-1x.png 1x, ./images/tablet/tabletheader-background-2x.png 2x" media="(max-width: 1199px)">
                <source srcset="./images/desktop/desktop-header-background-1x.png 1x, ./images/desktop/desktop-header-background-2x.png 2x" media="(max-width: 1600px)">
                <img src="./images/desktop/desktop-header-background-1x.png" alt="main-image">
            </picture>
            <div class="header__main-btn-wrap">
                <button class="header__main-btn" type="button">
                    <picture class="header__btn-img">
                        <source srcset="./images/mobile/mobile-header-btn.png 1x, ./images/mobile/mobile-header-btn@2x.png 2x" media="(max-width: 767px)">
                        <source srcset="./images/tablet/tablet-header-btn.png 1x, ./images/tablet/tablet-header-btn@2x.png 2x" media="(max-width: 1199px)">
                        <source srcset="./images/desktop/desktop-header-btn.png 1x, ./images/desktop/desktop-header-btn@2x.png 2x" media="(max-width: 1600px)">
                        <img class="header__btn-img-rotate" src="./images/desktop/desktop-header-btn.png" alt="btn-image">
                    </picture>
                </button>
            </div>
            </div>

            <h1 class="header__title">ANEMONE</h1>
        </div>


        <div data-modal class="header__modal_backdrop is-hidden">
            <div class="header__modal">
        
                <button data-modal-close class="header__modal_close" type="button">
                    <span class="header__modal_close_icon"></span>
                </button>
                <h2 class="header__modal-title">Contact us</h2>
                <p class="header__modal-text">
                    If you have any additional questions or you want to clarify something before you make an order please fill in your
                    contact details. We will call you back.
                </p>

                <form class="header__modal_form">                   

                        <label class="modall__label">
                            Name
                            <input class="modall__input" type="text" placeholder="Name" required />
                        </label>
                        <label class="modall__label">
                            Email
                            <input class="modall__input" type="email" name="email" placeholder="Email" required />
                        </label>
                        
                    
                        <button class="header__modal-submit" type="submit">Send</button>
                    </form>                
            </div>
        </div>

    </div>
</header>