<header class="header">
    <div class="container">
        <div class="header__nav-wrap">
            <div class="header__logo-wrap">
                <a href="./index.html" class="header__logo-link">
                    <picture>
                        <source srcset="./images/mobile/mobile-header-logo.png 1x, ./images/mobile/mobile-header-logo@2x.png 2x" media="(max-width: 767px)">
                        <source srcset="./images/desktop/desktop-header-logo.png 1x, ./images/desktop/desktop-header-logo@2x.png 2x" media="(max-width: 1600px)">
                        <img src="./images/desktop/desktop-header-logo.png" alt="logo">
                    </picture>              
                </a>
            </div>

            <nav>
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="./index.html" class="header__nav-link">Anemone</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/about.html" class="header__nav-link">About us</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/store.html" class="header__nav-link">Store</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/delivery.html" class="header__nav-link">Delivery</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./partials/blog.html" class="header__nav-link">Blog</a>
                    </li>
                </ul>
            </nav>

            <ul class="header__contacts-list">
                <li class="header__contacts-item">
                    <button class="header__contacts-button">m</button>
                </li>
                <li class="header__contacts-item">
                    <button class="header__contacts-button">t</button>
                </li>
            </ul>
        </div>
        <div class="header__main-wrap">
            <div class="header__main-box">
            <h2 class="header__main-name">
                flower <br>
                studio
            </h2>

            <picture class="header__main-img">
                <source srcset="./images/mobile/mobile-header-background-1x.png 1x, ./images/mobile/mobile-header-background-2x.png 2x" media="(max-width: 767px)">
                <source srcset="./images/tablet/tablet-header-background-1x.png 1x, ./images/tablet/tabletheader-background-2x.png 2x" media="(max-width: 1199px)">
                <source srcset="./images/desktop/desktop-header-background-1x.png 1x, ./images/desktop/desktop-header-background-2x.png 2x" media="(max-width: 1600px)">
                <img src="./images/desktop/desktop-header-background-1x.png" alt="main-image">
            </picture>
            <div class="header__main-btn-wrap">
                <button class="header__main-btn" type="button">
                    <picture class="header__btn-img">
                        <source srcset="./images/mobile/mobile-header-btn.png 1x, ./images/mobile/mobile-header-btn@2x.png 2x" media="(max-width: 767px)">
                        <source srcset="./images/tablet/tablet-header-btn.png 1x, ./images/tablet/tablet-header-btn@2x.png 2x" media="(max-width: 1199px)">
                        <source srcset="./images/desktop/desktop-header-btn.png 1x, ./images/desktop/desktop-header-btn@2x.png 2x" media="(max-width: 1600px)">
                        <img src="./images/desktop/desktop-header-btn.png" alt="btn-image">
                    </picture>
                </button>
            </div>
            </div>

            <h1 class="header__title">ANEMONE</h1>

        </div>
    </div>
</header>