.blog__text{
    font-weight: 700;
    font-size: 44px;
    color: #000;
    }
    .blog__button{
        border-radius: 38px;
        padding: 16px 32px;
        width: 280px;
        height: 64px;
        background-color: pink;
    }
