header{
    background-color: $regular-background-color;
    padding-top: 16px;
    padding-bottom: 100px;
    display: flex;
    
}

.header__nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.header__nav-list{
    display: none;
}

.header__contacts-box{
    display: flex;
    gap: 14px;
}

.header__contacts-button{
    border: none;
    background-color: transparent;
}

.header__main-wrap{
    display: block;
}

.header__main-box{
    display: flex;
    justify-content: center;
}

.header__main-name{
    padding-left: 11px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.header__main-img{
    margin-right: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.header__main-btn-wrap{
    display: flex;
    align-items: center;
}

.header__title{
    
    margin-top: -30px;
    font-weight: 400;
    font-size: 52px;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 99;
    position: relative;
}


.header__main-btn{
    border: none;
    background-color: transparent;
    display: block;
    
}

.header__btn-img{
    width: 76px;
    height: 76px;
    animation-name: header-btn-rotate;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
	
}

@keyframes header-btn-rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.mobile__menu-btn {
        display: block;
        height: 30px;
        width: 30px;
        margin-left: auto;
        position: relative;
    }

    .mobile__menu-btn:hover {
        cursor: pointer;
    }

    .mobile__menu-btn .mobile__menu-btn-icon {
        top: 15px;
    }

    .mobile__menu-btn .mobile__menu-btn-icon,
    .mobile__menu-btn .mobile__menu-btn-icon::before,
    .mobile__menu-btn .mobile__menu-btn-icon::after {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background: $footer-background-color;
        position: absolute;
        z-index: 999;
        right: 0;
        transition: .3s;
    }

    .mobile__menu-btn .mobile__menu-btn-icon::before {
        top: -8px;
        width: 22px;
    }

    .mobile__menu-btn .mobile__menu-btn-icon::after {
        top: 8px;
        width: 22px;
    }   

    .mobile__menu-input{
        display: none;
    }

    .mobile__menu-input[type="checkbox"]:checked~.mobile__menu-nav {
        display: flex;
        flex-direction: column;
    }

    .mobile__menu-input[type="checkbox"]:checked~.mobile__menu-btn .mobile__menu-btn-icon {
        transform: rotate(-45deg);
        background: $regular-background-color;
    }

    .mobile__menu-input[type="checkbox"]:checked~.mobile__menu-btn .mobile__menu-btn-icon::before {
        top: 0;
        transform: rotate(0);
        background: $regular-background-color;
    }

    .mobile__menu-input[type="checkbox"]:checked~.mobile__menu-btn .mobile__menu-btn-icon::after {
        top: 0;
        transform: rotate(90deg);
        background: $regular-background-color;
    }    

    .mobile__menu-nav{
        justify-content: center;
        align-items: center;
        gap: 26px;   
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $button-backround-color;
        display: none;
        z-index: 998;
    }

    .mobile__menu-nav-link{
        font-weight: 400;
        font-size: 20px;
        color: $footer-text-color;
    }


    


@media screen and (min-width: 768px){
    .header__nav-list{
    display: flex;
    gap: 24px;    
}

    .header__nav-link{
    font-weight: 400;
    font-size: 20px;
    color: $text-color;
    }

    .header__contacts-item:nth-child(2){
        display: none;
        
    }

    .header__main-name{
        
        font-size: 24px;
        margin-right: 40px;
        margin-left: 20px;
    }

    .header__main-img{
        margin-right: 10px;
    }

    .header__title{
        margin-top: -50px;
        
        font-size: 120px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px){
    .header__main-name{
        
        font-size: 32px;
    }

    .header__title{
        margin-top: -90px;
        font-size: 160px;
        text-align: center;
    }
}
