.store__size{
    font-weight: 500;
    font-size: 16px;
    color: $footer-background-color;
}

.store__text{
    font-weight: 600;
    font-size: 12px;
    color: $modal-text-color;
}

.store__button{
    border-radius: 38px;
    padding: 14px 28px;
    width: 208px;
    height: 44px;
    font-weight: 500;
    font-size: 20px;
    color: $footer-text-color;
    background-color: $text-hover-onblack;
    border: none;
}

@media screen and (min-width: 768px){
    .store__button{
        border-radius: 38px;
        padding: 16px 32px;
        width: 280px;
        height: 64px;
        background-color: $text-hover-onblack;
        font-weight: 500;
        font-size: 28px;
        color: $footer-text-color;
    }

    .store__size{
        font-weight: 500;
        font-size: 32px;
        color: $text-color;

    }
    .store__text{
        font-weight: 600;
        font-size: 24px;
        color: $modal-text-color;
    }
}

@media screen and (min-width: 1200px){
    .store__button{
     border-radius: 38px;
    padding: 16px 32px;
    width: 280px;
    height: 64px;
    background-color: $text-hover-onblack;
    border: none;
    }

    .store__size{
        font-weight: 500;
        font-size: 36px;
        color: $text-color;
    }

    .store__text{
        font-weight: 600;
        font-size: 28px;
        color: $modal-text-color;
    }
}