.store__name{
  font-weight: 700;
  font-size: 24px;
  color: $footer-background-color;
  margin-bottom: 30px;
}

.store__name::after {
  width: 65%;
  height: 1px;
  background-color: $text-color;
  content: '';
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 16px;
}
.store__size{
    font-weight: 500;
    font-size: 16px;
    color: $footer-background-color;
}

.store__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.store__text{
    font-weight: 600;
    font-size: 12px;
    color: $modal-text-color;
}

.store__jump{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 30px;
}

.store__button{
  display: flex;
  justify-content: center;
    border-radius: 38px;
    padding: 14px 28px;
    width: 208px;
    height: 44px;
    font-weight: 500;
    font-size: 20px;
    color: $footer-text-color;
    background-color: $text-hover-onblack;
    border: none;
}

.store__img-one {
  background-image: url(./../images/mobile/mobile-bouquet-one-1x.png);
  width: 136px;
  height: 155px;
  background-size: 136px 155px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-one {
    background-image: url(./../images/mobile/mobile-bouquet-one-2x.png);
  }
}

.store__img-two {
  background-image: url(./../images/mobile/mobile-bouquet-two-1x.png);
  width: 136px;
  height: 155px;
  background-size: 136px 155px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-two {
    background-image: url(./../images/mobile/mobile-bouquet-two-2x.png);
  }
}

.store__img-three {
  background-image: url(./../images/mobile/mobile-bouquet-three-1x.png);
  width: 136px;
  height: 155px;
  background-size: 136px 155px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-three {
    background-image: url(./../images/mobile/mobile-bouquet-three-2x.png);
  }
}

.store__img-four {
  background-image: url(./../images/mobile/mobile-bouquet-four-1x.png);
  width: 136px;
  height: 155px;
  background-size: 136px 155px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-four {
    background-image: url(./../images/mobile/mobile-bouquet-four-2x.png);
  }
}

@media screen and (min-width: 768px){
  .store__name{
    font-weight: 700;
    font-size: 44px;
    color: $footer-background-color;
    margin-bottom: 65px;
  }

  .store__name::after{
    width: 75%;
    height: 1px;
    background-color: $text-color;
    content: '';
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 16px;
  }

  .store__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .store__jump{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 40px;
  }
    .store__button{
        border-radius: 38px;
        padding: 16px 32px;
        width: 280px;
        height: 64px;
        background-color: $text-hover-onblack;
        font-weight: 500;
        font-size: 28px;
        color: $footer-text-color;
    }

    .store__size{
        font-weight: 500;
        font-size: 32px;
        color: $text-color;

    }

    .store__size::after{
      width: 17%;
      height: 1px;
      background-color: $text-color;
      content: '';
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 16px;
    }
    .store__text{
        font-weight: 600;
        font-size: 24px;
        color: $modal-text-color;
    }

    .store__img-one {
  background-image: url(./../images/tablet/tablet-bouquet-one-1x.png);
  width: 344px;
  height: 399px;
  background-size: 344px 399px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-one {
    background-image: url(./../images/tablet/tablet-bouquet-one-2x.png);
  }
}

.store__img-two {
  background-image: url(./../images/tablet/tablet-bouquet-two-1x.png);
  width: 344px;
  height: 399px;
  background-size: 344px 399px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-two {
    background-image: url(./../images/tablet/tablet-bouquet-two-2x.png);
  }
}

.store__img-three {
  background-image: url(./../images/tablet/tablet-bouquet-three-1x.png);
  width: 344px;
  height: 399px;
  background-size: 344px 399px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-three {
    background-image: url(./../images/tablet/tablet-bouquet-three-2x.png);
  }
}

.store__img-four {
  background-image: url(./../images/tablet/tablet-bouquet-four-1x.png);
  width: 344px;
  height: 399px;
  background-size: 344px 399px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-four {
    background-image: url(./../images/tablet/tablet-bouquet-four-2x.png);
  }
}
}

@media screen and (min-width: 1200px){

  .store__name{
    font-weight: 700;
    font-size: 44px;
    color: $footer-background-color;
    margin-bottom: 65px;
  }

  .store__name::after{
    width: 85%;
    height: 1px;
    background-color: $text-color;
    content: '';
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 16px;
  }
  .store__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  .store__jump{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-top: 40px;
  }
    .store__button{
    border-radius: 38px;
    padding: 16px 32px;
    width: 280px;
    height: 64px;
    background-color: $text-hover-onblack;
    border: none;
    }

    .store__size{
        font-weight: 500;
        font-size: 36px;
        color: $text-color;
    }
    .store__size::after{
      width: 40%;
      height: 1px;
      background-color: $text-color;
      content: '';
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 16px;
    
    }

    .store__text{
        font-weight: 600;
        font-size: 28px;
        color: $modal-text-color;
    }

    .store__img-one {
  background-image: url(./../images/desktop/desktop-bouquet-one-1x.png);
  width: 530px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-one {
    background-image: url(./../images/desktop/desktop-bouquet-one-2x.png);
  }
}

.store__img-two {
  background-image: url(./../images/desktop/desktop-bouquet-two1x.png);
  width: 530px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-two {
    background-image: url(./../images/desktop/desktop-bouquet-two-2x.png);
  }
}

.store__img-three {
  background-image: url(./../images/desktop/desktop-bouquet-three-1x.png);
  width: 530px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-three {
    background-image: url(./../images/desktop/desktop-bouquet-three-2x.png);
  }
}

.store__img-four {
  background-image: url(./../images/desktop/desktop-bouquet-four-1x.png);
  width: 530px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .store__img-four {
    background-image: url(./../images/desktop/desktop-bouquet-four-2x.png);
  }
}
}